.events {
  margin-top: 70px;

  @include on-tablet {
    margin-top: 88px;
  }

  @include on-desktop {
    margin-top: 200px;
  }

  &__header {
    font-size: 36px;
    text-align: center;
    margin-block: 0 40px;

    @include on-tablet {
      font-size: 48px;
      text-align: left;
      margin-bottom: 48px;
    }

    @include on-desktop {
      margin-bottom: 56px;
    }
  }

  &__container {
    padding-inline: 20px;

    @include on-tablet {
      padding-inline: 34px;
    }

    @include on-desktop {
      padding-inline: 55px;
    }
  }
}
